{% extends 'ex2/layout.html.twig' %}

{% block title %}Trainings List{% endblock %}

{% block main %}

{# {{ dump(trainings) }} #}
<div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills">
                {% for training in trainings %}
                    <li><a href="{{ path('view',{slug: training.slug}) }}">{{ training.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Hello !</h1>
                <p>Choose a training in the menu…</p>
                <button><a href="{{ path('add')}}">Create a new training >></a></button>
            </div>
        </div>
    </div>


{% endblock %}
