{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/ex2/css/style.css') }}">
{% endblock %}

{% block header %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('home') }}">FormationStart</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ path('home') }}">Home</a></li>
      <li><a href="{{ path('trainings') }}">Trainings</a></li>
      <li><a href="{{ path('modules') }}">Modules</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-default" style="margin:10px 10px 0 0;"><a href="{{ path('add') }}">Add a training</a></button></li>
      <li><button class="btn btn-default" style="margin-top:10px;"><a href="{{ path('add_module') }}">Add a module</a></button></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block main %} {% endblock %}

{% block javascripts %}{% endblock %}

{% block footer %}
<div class="footer">
  <p>{{ footer }}</p>
</div>
{% endblock %}