{% extends 'ex2/layout.html.twig' %}

{% block title %}Training Form{% endblock %}

{% block main %}

    <h2>Training Form</h2>
    
    {{ form_start(form) }}
    {{form_widget(form) }}
    <button class="btn btn-default" type="submit">Save</button>
    <button class="btn btn-default"><a href="{{ path('trainings') }}">Cancel</a></button>
    {{ form_end(form) }}

{% endblock %}