{% extends 'ex2/layout.html.twig' %}

{% block title %}Trainings List{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-12">

        <h2>Trainings list</h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Slug</th>
                    <th>Description</th>
                    <th>Modules de la formation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for training in trainings %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('view',{slug:training.slug}) }}">{{ training.name }}</a></td>
                    <td>{{ training.slug }}</td>
                    <td>{{ training.description }}</td>
                    <td>
                        {% for module in training.modules %}
                            <li><a href="{{ path('view_module',{id:module.id}) }}">{{ module.name }}</a></li>
                        {% endfor %}
                    </td>
                    <td>
                        <button class="btn btn-default"><a href="{{ path('edit',{slug:training.slug}) }}">Modifier</a></button>
                        <button class="btn btn-default"><a href="{{ path('delete',{slug:training.slug}) }}">Supprimer</a></button>
                        <button class="btn btn-default"><a href="{{ path('add_module',{slug:training.slug}) }}">Ajouter un module à la formation</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}