{% extends 'ex2/layout.html.twig' %}

{% block title %}Training Detail{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-12">
        <button><a href="{{ path('edit',{slug:training[0].slug})}}">Update</a></button>
        <h3>Modules list for this training :</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <td>{{ training[0].name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ training[0].slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ training[0].description }}</td>
            </tr>
        </table>

        <h3>Modules list for this training :</h3>
        <div class="card">
            <ul>
                {% for module in training[0].modules %}
                    <li>{{ module.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}