{% extends 'ex2/layout.html.twig' %}

{% block title %}Modules List{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-12">

        <h2>Modules list</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for module in modules %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('view_module',{id:module.id}) }}">{{ module.name }}</a></td>
                    <td>
                        <button class="btn btn-default"><a href="{{ path('view_module_trainings',{id:module.id}) }}">Formations disposant de ce module</a></button>
                        <button class="btn btn-default"><a href="{{ path('edit_module',{id:module.id}) }}">Modifier</a></button>
                        <button class="btn btn-default"><a href="{{ path('delete_module',{id:module.id}) }}">Supprimer</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}