{% extends 'ex2/layout.html.twig' %}

{% block title %}Module Detail{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-12">
        <button><a href="{{ path('edit_module',{id:module.id})}}">Update</a></button>
        <h3>Module detail</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <td>{{ module.name }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}