{% extends 'ex2/layout.html.twig' %}

{% block title %}Trainings attached to the module{% endblock %}

{% block main %}


<div class="row">
    <div class="col-xs-12">

        <a href="{{ path('modules') }}">Return to the modules list</a>
        <h3>Trainings attached to the module</h3>

        <table class="table table-striped">
            <thead>
                <th>Name of the formation</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for training in module.trainings %}
                    <tr>
                        <td>{{ training.name }}</td>
                        <td>{{ training.slug }}</td>
                        <td>{{ training.description }}</td>
                        <td>
                            <button><a href="{{ path('edit',{slug:training.slug})}}">Update</a></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}