h1{
    font-size: 22px;
    font-weight: 600;
}
footer{
    position: absolute;
    bottom:0;
    background-color: cyan;
    text-align: center;
    width: 100%;
    height: 30px;
}
.card{
    background-color: lavender;
}
.bouton{
    border-radius: 4px;
}
.bouton a{
    display: block;
    color: black;
    font-weight: 400;
}
