{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block main %}

    <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <h1>Member : {{ member.id }}</h1>
                    <div class="col-xs-2">
                        <img src="{{ member.photo }}" class="img-responsive img-circle" />
                    </div>
                    <div class="col-xs-10">
                        <p><strong class="text-uppercase">First name :</strong> {{ member.firstname }}</p>
                        <p><strong class="text-uppercase">Last name :</strong> {{ member.lastname }}</p>
                        <p><strong class="text-uppercase">Email :</strong> <a href={{ member.email }}">member1@contact.com</a></p>
                    </div>
                </div>
                <div class="row">
                    <a href="{{ path('members')}}" class="btn btn-primary">Back</a>
                </div>
            </div>
    </div>
{% endblock %}