{% extends 'base.html.twig' %}

{% block title %}Members List{% endblock %}

{% block main %}
    <div class="row">
            <div class="col-xs-12">

                <h1>Liste des membres</h1>
                <table class="table table-striped">
                    
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th></th>
                    </tr>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.lastname }}</td>
                        <td>{{ member.firstname }}</td>
                        <td><a href="{{ path('member_show',{id:member.id})}}" class="btn btn-primary">Details</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
